<!DOCTYPE html>
<html data-bs-them="light" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/static/vendor/core/app.css"> -->
    <link rel="stylesheet" href="/static/apps/<%=app_name%>/index.css">
    <link rel="stylesheet" href="/static/core/index.css">
    
    <title><%- title %></title>
</head>
<body class="a-container bg-light">
    

    <div class="row">
        <%- include("../partials/header") %>
    </div>

    <div class="row">
        <%- body >
    </div>

----------------------

    <!-- </%- include ("../partials/header.ejs")%> the two "." allows us to jump up two lvls then back down -->
    <!-- </%- include ("../partials/footer.ejs")%> the two "." allows us to jump up two lvls then back down -->

    <div class="border container">
        Container
        <div class="border row">
            First row
        </div>

        <div class="border border-primary m-4 p-4" row> <!-- m = margin / p = padding -->
            second row
            <div class="col-1 border-success"> <!-- col = column -->
                column 1
            </div>
            <div class="col-11 border-success"> <!-- col = column -->
                column 2
            </div>
        </div>

    </div>>


    <main class="a-body ">
        <%- body %>
    </main>

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- <script src="/static/vendor/core/them.js" ></script> -->
    <script src="/static/core/index.js" ></script>
    <script src="/static/apps/<%=app_name%>/index.js" ></script>
    
</body>
</html>